{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

{% if next %}
    <div class="container mt-5">
    
    {% if user.is_authenticated %}
    <p></p>
        {% bootstrap_alert "Your account doesn't have access to this page. To proceed,
        please login with an account that has access." %}
    {% else %}
        {% bootstrap_alert "Please login to see this page." dismissable=False %}
    {% endif %}
    </div>
{% endif %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1>{{button_label|default:'login'}}</h1>
        <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% with btn_text=button_label|default:'login' %}
            {% bootstrap_button btn_text button_type='submit' button_class="btn-primary btn" %}
            {% endwith %}
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p>&nbsp;</p>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>


{% endblock %}